<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="Compare your tax liability under India's current and proposed income tax regimes"
		/>
		<meta
			name="keywords"
			content="india tax calculator, income tax, tax comparison, tax regime"
		/>
		<meta property="og:title" content="India Income Tax Calculator" />
		<meta
			property="og:description"
			content="Compare your tax liability under India's current and proposed income tax regimes"
		/>
		<meta property="og:type" content="website" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>India Income Tax Calculator & Comparison Tool</title>
	</head>
	<body>
		<slot />
	</body>

	<footer class="border-t border-gray-100 mt-auto">
		<div class="max-w-7xl mx-auto py-5 px-4 sm:px-6 lg:px-8">
			<p class="text-center text-gray-500 text-sm">
				Made by @obviyus, source code available at <a
					href="https://github.com/obviyus/india-tax"
					class="text-blue-500">GitHub</a
				>
			</p>
		</div>
	</footer>
</html>
